/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Profile information
        4.2 File upload card
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* ------------------------------- 2. Typography ----------------------------------- */
/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */
/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Profile information ------------------------- */

.content-wrapper {
    min-width: 100%;
    flex-basis: 90%;

    display: flex;
    flex-direction: column;

    /*border: solid lightseagreen 2px;*/
}

.top-section {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;

    /*border: solid #e80000 2px;*/
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    max-width: 200px;
    /*border: solid red 1px;*/
}

.img {
    max-width: 100%;
    border-radius: 8px;
}

.edit-profile-button {
    margin-top: 5px;
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
    border-width: 1px;
    /*border: solid blue 1px;*/
}

.name-container{
    flex-basis: 60%;
    max-width: 200px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /*border: solid purple 1px;*/
}

.name {
    margin: 0 0 0 11px;
}

.name:first-child {
    margin-bottom: 19px;
}

.profile-details {
    font-weight: 500;
}

.bottom-section {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*border: solid #1c5d0e 2px;*/
}

.h3 {
    align-self: center;
    margin: 20px 0 5px 0;
}

.icon-container {
    flex-basis: 10%;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /*border: solid blue 1px;*/
}

/* ------------------------------- 4.2 File upload card -------------------------------- */

.file-upload {
    width: 90%;
    max-width: 560px;
    padding: 10px 10px 10px 10px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    border: solid rgba(3, 2, 2, 0.59) 2px;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-title {
    margin-bottom: 10px;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.button:first-child {
    margin-right: 20px;
}

.form > * {
    margin-bottom: 10px;
}

.input-file {
    max-width: 100%;
}

.button {
    padding: 2px;
    /*margin-top: 20px;*/
}

.error {
    text-align: center;
    color: red;
}

/* ------------------------------- 5. Media Queries -------------------------------- */