/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.header {
    display: flex;
    justify-content: center;
}

.content-container {
    flex-basis: 710px;
    min-height: 150px;
    background: url(../../assets/header_background_640×427.jpg);
    background-size: 100%;
    border-radius: 0 0 5px 5px;

    display: flex;
    position: relative;
}

.left-side {
    min-width: 50%;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.right-side {
    min-width: 50%;
    padding: 0 20px 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.img {
    cursor: pointer;
    position: absolute;
    top: 15px;
}

.p {
    font-size: 13px;
    color: hsl(0, 0%, 90%);
}

.h1 {
    font-size: 21px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.date {
    position: absolute;
    bottom: 10px;
    color: hsl(0, 0%, 90%);
}

.line {
    border-bottom: 4px solid rgba(250, 255, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.priorities-overview-container {
    display: flex;
}

.prio-container {
    text-align: center;
}

.prio-container:nth-child(2) {
    margin: 0 10px 0 10px;
}

.prio-container p:nth-child(1), .open-tasks-container p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
}

.open-tasks-container {
    display: flex;
    align-items: center;
}

.open-tasks-container p:nth-child(2) {
    margin-left: 10px;
}
