/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Task details
        4.2 Buttons
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* ------------------------------- 2. Typography ----------------------------------- */
/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */
/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Task details ------------------------- */

.status {
    align-self: flex-end;
    font-size: 12px;
}

.dot-low:before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: hsl(112, 100%, 50%);
    border-radius: 50%;
    display: inline-block;
}

.dot-medium:before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: hsl(47, 98%, 49%);
    border-radius: 50%;
    display: inline-block;
}

.dot-high:before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: hsl(0, 100%, 50%);
    border-radius: 50%;
    display: inline-block;
}

.label-textarea-task-details, .label-task-owners-table {
    width: 100%;
    flex-basis: 100%;
    margin: 10px 0 10px 0;

    display: flex;
    flex-direction: column;
    font-size: 14px;

    /*border: solid #10b409 1px;*/
}

.textarea-task-details, .assigned-users {
    /*height: calc(100vh - 600px);*/
    /*flex-basis: 100%;*/
    flex-basis:100%;
    width: 100%;
    overflow: scroll;
    padding: 5px;
    font-size: 12px;
    /*max-width: 500px;*/
    /*align-self: center;*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.1) 1px;

    /*border: solid pink 1px;*/
}

.textarea-task-details::-webkit-scrollbar, .assigned-users::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.p {
    font-size: 14px;
}

.assigned-users {
    /*height: calc(100vh - 625px);*/

}

/* --------------- 4.2 Buttons ------------------- */

.icon-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    /*border: solid red 1px;*/
}

.back-icon {
    max-width: 25px;
    margin: 10px 0 0 10px;
}

.back-icon:hover {
    cursor: pointer;
}

/* ------------------------------- 5. Media Queries -------------------------------- */