/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Title
        4.2 Add managers card
        4.3 Work
        4.4 Services
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* ------------------------------- 2. Typography ----------------------------------- */
/* ------------------------------- 3. Layout --------------------------------------- */
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */
/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Title ------------------------- */

.h3 {
    align-self: center;
    margin: 20px 0 5px 0;
}

/* --------------- 4.2 Ad managers card ------------------- */

.form {
    width: 100%;
}

.icon-container {
    margin-top: 20px;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*border: solid red 1px;*/
}


/* --------------- 4.3 Work --------------------------- */
/* --------------- 4.4 Services------------------------ */
/* --------------- 4.5 Contact ------------------------ */
/* --------------- 4.6 Footer ------------------------- */
/* ------------------------------- 5. Media Queries -------------------------------- */